.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 li{
  color: white;
  font-family:sans-serif;
  font-size: medium;
  padding: 1em;
  
  
}
.redir{

  border: 2px;
  background-color: rgba(80, 161, 55, 0.144);
  border-style: solid;
  position: absolute;
  list-style: none;
  max-width: 100%;
 
 display: inline-block;
}
.menuitem{

  border: 2px;
  background-color: rgb(79, 79, 35);
  border-style: solid;
  
  display: flex;
  list-style: none;
  
 
justify-content: space-around;
}
.heading{
  background-color: paleturquoise;
}
.auth{
  background-color: gainsboro;
  font-family:Arial, Helvetica, sans-serif;
 font-size: large;
 border: solid;
  border-color: blanchedalmond;
  text-align: center;
  width: 30em;
}